<!--Se muestra detalles de direcciones-->
<div class="card">
    <h5 class="card-header"></h5>
    <div class="card-body">
        <h4 class="card-title">{{direccion_envio.direccion}}</h4>
        <div class="card-title">
            {{direccion_envio.reference}}
        </div>
        <div class="card-title">
            {{direccion_envio.postal_code}}
        </div>
        <div class="mt-3">
            <a href="{% url 'update' direccion_envio.pk %}" class="btn btn-primary">Editar</a>
            {% if direccion_envio.default %}
            <div>
                <span class="badge bg-success">Direccion Principal</span>
            </div>
            {%else%}
            <a href="{% url 'default' direccion_envio.pk %}" class="btn btn-warning">Default</a>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{% url 'remove' direccion_envio.pk %}" class="btn btn-danger">Eliminar</a>
            </div>
            {%endif%}
        </div>
    </div>
</div>