<!--Segmento que itera y muestra elementos de la direccion-->
<div class="mt-4">
    <form method="post">
        {% csrf_token %}
        {%for field in form%} <!--Itera sobre los elementos que recibe 'formulario.html' del views.py-->
        <div class="form-group">
            {{field.label_tag}}
            {{field}}
            {%if field.errors%}
            {{field.errors}}
            {%endif%}
        </div>
        {%endfor%}
        <button class="btn btn-warning mt-2" type="submit">{{messages}}</button>
    </form>
</div>